.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.card {
  background-color: #fef5ec;
  border-radius: 12px;
  padding: 1.5rem;
  width: 350px;
  height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;
  color: #bf3729;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1.2rem;
  color: #a93226;
  padding-top: 10px;
  font-weight: 500;
}
