.header-container{
  display: flex;
  justify-content: space-between;
  background-color: #c33b2d;
  padding: 5vh;
}
.header-title{
  padding-left: 6%;
}
.header-social{
  display: flex;
  align-items: center;
}
